    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

    /* COMMON */
/*    html,body {height: 100%; magin: 0;}
    .join_container {
        border: none;
        border-radius: 20px;
        position: absolute;
        width: 400px;
        height: 100%;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -400px;
        text-align: center;
   }*/

   .join_container {
        width: 100%;
        margin-top: -4rem;
        margin-bottom: 1rem;
   }

   .join_div {
        margin: 0 auto;
        width: 400px;
   }

   #title {
        font-family: 'Jua', sans-serif;
        font-size: 60px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }

   .input-box {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 400px;
        border: 1px solid rgb(220,220,220);
        height: 50px;
        padding: 0;
        line-height: 48px;
        border-radius: 5px;
   }

   .input-time {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 197px;
        border: 1px solid rgb(220,220,220);
        height: 50px;
        padding: 0;
        line-height: 48px;
        border-radius: 5px;
   }

   input {
        border: none;
        width: 330px;
        height: 43px;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 20px;
        border-radius: 5px;
   }

   .time {
        border: none;
        width: 185px;
        height: 43px;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 20px;
        border-radius: 5px;
   }

    input:focus {outline: none;}

    select{
        width: 195px;
        height: 50px;
        border: 1px solid rgb(220,220,220);
        border-radius: 5px;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .reg_label {
        padding: 0 5px;
    }

    label {
        float: left;
        font-family: 'ELAND_Choice_M';
    }

    .resultBox {
        float:right;
        font-size: 12px;
        color: red;
    }

    /* 아이디 */

/*     .id-box {
         display: inline-block;
         margin: 0 auto;
         margin-top: 10px;
         width: 220px;
         border: 1px solid rgb(220,220,220);
         height: 40px;
         padding: 0;
         line-height: 38px;
         border-radius: 3px; :
     }*/

   .name-box {
        display: inline-block;
        border: 1px solid rgb(220,220,220);
        width: 195px;
        height: 50px;
        margin-top: 10px;
        line-height: 48px;
        border-radius: 5px;
        margin-bottom: 20px;

   }

    /* NAME */

   .name {
        width: 150px;
        height: 43px;
        vertical-align: middle;
        padding-left: 20px;
        border-radius: 5px;
   }

   .span-box { vertical-align: middle; }

   .pass, #username{
    padding-right: 30px;
    border-radius: 5px;
   }

    /* MOBILE */

   #phone-box {
        width: 400px;
   }
   #phoneNum {
        width: 310px;
        padding-right:30px;
        padding-left: 20px;
        border-radius: 5px;
   }

   .phoneNum-box {
           display: inline-block;
           margin: 0 auto;
           margin-top: 10px;
           margin-bottom: 20px;

           width: 315px;
           border: 1px solid rgb(220,220,220);
           height: 50px;
           padding: 0;
           line-height: 42px;
           border-radius: 5px;
      }

    #btnPhone {
        display: inline-block;
        background-color: rgb(241,196,15);
        height: 50px;
        width: 75px;
        pointer: cursor;
        border: none;
        border-radius: 5px;
        font-family: 'ELAND_Choice_M';
        font-size: 14px;
    }

    /* TOOL TIP*/

   .alert_tip {
        position: relative;
        display: inline-block;
        color: rgb(220,220,220);
        font-size: 1.3rem;
        font-weith: 400;
        z-index: 1080;
        margin-left: 30px;
        line-height: 1.6;
   }

   .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: rgb(220,220,220);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 7px;
        font-weight: bold;
        font-size: 0.8rem;
        position: absolute;
        z-index: 1;
        left: 15
        0%;
   }

   .alert_tip .tooltiptext::after {
        visibility: hidden;
        content: "";
        position: absolute;
        top: 35%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgb(220,220,220) transparent transparent;
   }

   .alert_tip:hover .tooltiptext { visibility: visible; }
   .alert_tip:hover .tooltiptext::after { visibility: visible; }

   #recommendUser #salary { width: 100px; }

   .btnJoin {
        margin-top: 40px;
        border: none;
        background-color: rgb(241,196,15);
        color: #fff;
        width: 400px;
        height: 50px;
        font-size: 15pt;
        font-weight: bold;
        margin-bottom: 20px;
   }

   /* WISH LIST */





