<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>개미는 뚠뚠</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>

        <link th:href="@{/css/main/styles.css}" rel="stylesheet"/>
        <link th:href="@{/css/main/main.css}" rel="stylesheet">
        <link th:href="@{/css/main/slick.css}" rel="stylesheet">
        <link th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" type="text/css"
              rel="stylesheet">

        <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript"
                th:src="@{http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js}"></script>
        <!-- Core theme JS-->
        <script th:inline="javascript" th:src="@{/js/main/main.js}"></script>

        <script th:src="@{/js/main/jquery.easing.1.3.js}" type="text/javascript" charset="utf-8"></script>
        <script th:src="@{/js/main/jquery.jSlots.min.js}" type="text/javascript" charset="utf-8"></script>
        <!-- Bootstrap core JS-->
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
    <div>
        <div id="fixed">
            <!--로그인 정보에 따라 노출 유무 결정-->
            <header>
                <div class="wish" sec:authorize="isAuthenticated()">

                    <span id="main_wish" class="impact" th:each="wishListIndex : ${wishListIndex}">
                        🎉 <strong class="main_wish impact" th:text="${wishListIndex.wishList}"></strong>까지
                        <strong class="impact"><span class="wish_day" th:text="${wishListIndex.dDay}"></span>일</strong> 남았습니다. ✨
                    </span>
                    <span id="no_wish" class="impact" style="display: none;">
                        <strong class="impact">메인 위시리스트를 등록해주세요.</strong>📝
                    </span>
                    <img th:src="@{/assets/close.png}" class="wish_close"/>
                </div>
            </header>

            <!--페이지 상단 공통 : logo & nav-->
            <nav class="navbar navbar-expand-md navbar-light bg-primary">
                <div class="container">
                    <a id="logo" class="navbar-brand" th:href="@{/}">개미는 뚠뚠</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-lg-0">
                            <li><a class="nav-link nav_li" th:href="@{/sosojob/main}">소소한JOB</a></li>
                            <li><a class="nav-link nav_li" th:href="@{/qna/list}">QnA</a></li>
                            <li><a class="nav-link nav_li" th:href="@{/jayu/list/all}">자유게시판</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!--메인 메뉴-->
        <div class="blank" sec:authorize="isAuthenticated()">
        </div>

        <div class="container-main container">
            <div id="search-wrap" style="margin-bottom: 20px;">
                <form th:action="@{/jayu/list/all}" method="get" id="searchForm">
                    <div style="display: flex; margin-right: 90px;">
                        <input type="hidden" name="page" value="1">
                        <input type="text" id="search-bar" name="keyword" th:value="${pageRequestDTO.keyword}"/>
                        <button type="button" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                        </input>
                    </div>
                </form>
            </div>

            <div class="row">
                <th:block th:replace="${content}"></th:block>
            </div>
        </div>

        <!--footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright ⓒ개미는뚠뚠 2021</p></div>
        </footer>
    </div>

    </body>
</th:block>
</html>
