@font-face{
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}
@font-face{
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pointer{
    cursor:pointer;
}

.cate {
    font-size: 13px;
    padding-top: 4px;
    border-radius: 5px;
    height: 28px;
    width: 73px;
    color: #919191;
    border: 2px solid #e0e0e0;
    text-align: center;
}


#likeBtn > img {
    width: 25px;
    cursor: pointer;
}

.listGo {
    margin: 20px 0px;
    text-align: right;
}

/* form 스타일 */
.form-group{
    margin: 60px 0 20px 0;
    font-family: 'ELAND_Choice_M';

}
.form-control{
     font-family: 'ELAND_Choice_M';
     font-size: 16px;
}

input:focus {
    outline:none;
}


/* 글 상세보기 */
.title {
    font-size: 2rem;
    font-weight: 900;
    word-wrap: break-word;
    margin-top:15px;
}

.leftSection{
    width:80%;
    float:left;
}

.rightSection{
    width:20%;
    float:right;
}
.end{
    text-align: end;
}

.smallText{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    font-family: 'ELAND_Choice_M';
}

.coinBox{
    padding-top:40px;
    font-weight: bold;
    height:67.97px;
    text-align:end;
}

.coin{
    width:20px;
    text-align: end;
}

.peopng_simple {
    font-size: 13px;
}

.writer {
    display: inline-block;
    width: 75%;
    margin-top: 20px;
}

.dateTime {
    display: inline-block;
    font-size: 12px;
    color: #858585;
}

.boardContent {
    width: 100% !important;
    min-height: 5rem;
    margin: 3rem 0;
    word-wrap: break-word;
}

/* 댓글 */

.noneReply{
    text-align: center;
    width: 100%;
    background: #e9ecef42;
    padding: 45px;
}

.noneReply > img {
     width: 50px;
     margin: 10px 0px;
     opacity: 0.5;
}

.noneReply > div {
    font-size: 16px !important;
}


.innerText{
    width:100%;
}

.btn-reply{
    margin-left: 88%;
    margin-top: 15px;
    width: 75px;
    background: #b0b3be;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: #b0b3be 1px solid;
    cursor: pointer;
    font-size: 15px;
    font-family: 'ELAND_Choice_M';
}

.replyCnt{
    font-family: 'ELAND_Choice_M';
    margin-top: 3rem;
    font-size: 20px;
}

.replyTA{
    font-family: 'ELAND_Choice_M';
    width: 100%;
}


.replySection{
    width: 100%;
    margin-bottom: 3rem;
}
.reply-text-box{
    resize:none;
    line-height:30px;
    overflow-y:hidden;
    border: none;
    margin: 0.5rem 0rem;
    width: 100%;
    color:#3e3e3eed;
    font-weight:bold;
    font-size: 18px;
    cursor: default;
    font-family: 'ELAND_Choice_M';
}

textarea:focus {
    outline: none;
}

.date{
    float: left;
    margin-left: 1rem;
    text-align: end;
    font-size: 13px;
    color: gray;
}
.replier{
    font-family:'ELAND_Choice_M';
}

.replyList {
    width: 100%;
    display: flex !important;
    align-items: flex-start;
    margin-bottom: 2rem;
    border-bottom: #E8E8E8 1px solid;
    padding-bottom: 2rem;
}

.selectAnswer{
    position: relative;
    color: #198754;
    top: 40px;
    padding: 2px 3px;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.selectAnswer:after {
    content:'';
    width: 0%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    border-radius: 5px;
    background: #cfd94091;
    z-index: -1;
}

.selectAnswer:hover {
    color: #198754;
}

.selectAnswer:hover:after {
    width: 100%;
    z-index: -1;
}


.buy_btn {
    background: #ffbf25;
    color: white;
    font-family: 'ELAND_Choice_M';
    margin-top: 10px;
}

.buy_container {
    margin: 0 auto;
    width: 343px;
    height: 291px;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.dim {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.qna_buy_title {
    text-align: center;
    font-family: 'ELAND_Choice_M';
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 0 15px 0;
    border-bottom: 2px solid #dfdfdf;
    max-width: 80%;
    margin: 0 auto;
}

.buy-content-box{
    margin-top: 30px;
    text-align: center;
    font-family: 'ELAND_Choice_M';
}

.buy_ddun {
    font-weight: bold;
}

.buy_alert {
    font-size: 17px;
}

.isSelectedAnswer {
    border: none;
    padding: 1rem 1rem;
    background: #f0f0f0;
    border-radius: 0.7rem;
}

.isSelectedAnswer textarea{
    background: #f0f0f0;
}

.selectedinfo {
    font-family: 'ELAND_Choice_M';
    font-weight: bold;
    color: #198754;
}

.isSolved{
    color: #198754;
    font-weight: bold;
    margin-left: 10px;
}

.isSelected {
    margin: 3rem 0rem;
    text-align: center;
    background: #f0f0f0;
    padding: 44px;
    border-radius: 5px;
}