@font-face{
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}
@font-face{
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pointer{
    cursor:pointer;
}

.cate {
    font-size: 13px;
    padding-top: 4px;
    border-radius: 5px;
    height: 28px;
    width: 73px;
    color: #919191;
    border: 2px solid #e0e0e0;
    text-align: center;
}

h1{
    margin-top:15px;
    font-weight:1000;
}

#likeBtn > img {
    width: 25px;
}

.listGo {
    margin: 20px 0px;
    text-align: right;
}

/* form 스타일 */
.form-group{
    margin: 60px 0 20px 0;
    font-family: 'ELAND_Choice_M';

}
.form-control{
     font-family: 'ELAND_Choice_M';
     font-size: 16px;
}

input:focus {
    outline:none;
}


/* 글 상세보기 */
.title {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 10px;
}

.leftSection{
    width:80%;
    float:left;
}

.rightSection{
    width:20%;
    float:right;
    text-align: end;
}

.smallText{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    font-family: 'ELAND_Choice_M';
}

.coinBox{
    padding-top:40px;
    font-weight: bold;
    height:67.97px;
    text-align:end;
}

.coin{
    width:20px;
    text-align: end;
}

.peopng_simple {
    font-size: 13px;
}

.writer {
    display: inline-block;
    width: 75%;
    margin-top: 20px;
}

.dateTime {
    display: inline-block;
    font-size: 12px;
    color: #858585;
}

.content_height {
    min-height: 5rem;
    margin: 3rem 0;
}

/* 댓글 */

.noneReply{
    text-align: center;
    width: 100%;
    background: #e9ecef42;
    padding: 45px;
}

.noneReply > img {
     width: 50px;
     margin: 10px 0px;
     opacity: 0.5;
}

.innerText{
    width:100%;
}

.btn-reply{
     margin-left: 88%;
     margin-top: 15px;
     width: 75px;
     padding: 2px;
}

.replyCnt{
    font-family: 'ELAND_Choice_M';
    margin-top: 3rem;
    font-size: 20px;
}

.replyTA{
    font-family: 'ELAND_Choice_M';
    width: 100%;
}


.replySection{
    width: 100%;
    margin-bottom: 3rem;
}
.reply-text-box{
    resize:none;
    line-height:30px;
    overflow-y:hidden;
    border: none;
    margin: 0.5rem 0rem;
    width: 100%;
    color:#3e3e3eed;
    font-weight:bold;
    font-size: 18px;
    font-family:  'ELAND_Choice_M';
}

textarea:focus {
    outline: none;
}

.date{
    float: left;
    margin-left: 1rem;
    text-align: end;
    font-size: 13px;
    color: gray;
}
.replier{
    font-family:'ELAND_Choice_M';
}

.replyList {
    width: 100%;
    display: flex !important;
    align-items: flex-start;
    margin-bottom: 1.5rem;

}
