article {
    max-width: 235px;
    max-height: 280px;
}

.title {
    font-size: 1.2rem;
    margin-left: 19px;
    margin-top: -10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.context {
    text-align: left;
    margin-left: 19px;
    margin-top: -15px;
    font-size: 0.9rem;
}

.content-container {
    width: 235px;
    border: 1px solid black;
}

.img.coin {
    display: inline-block;
}

.img.heart {
    display: inline-block;
}

.ddun-box {
    text-align: right;
    margin-right: 19px;
    margin-top: -20px;
    font-size: 1rem;
}
.star-box {
    float: right;
    margin-right: 19px;
    margin-top: -20px;
    font-size: 0.9rem;
}

.tag_c {
    margin: 15px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    height: 20px;
    color: #919191;
    border: 2px solid #e0e0e0;
    text-align: center;
    display: inline;
}
.tag_cm {
    margin: 15px;
    font-size: 10px;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    height: 20px;
    color: #919191;
    border: 2px solid #e0e0e0;
    text-align: center;
    display: inline;
}

article {
    max-width: 100%;
    max-height: 100%;
}



/* 문의하기 & 구매하기 */
    .send_container {
        margin: 0 auto;
        width: 700px;
        height: 500px;
        border-radius: 15px;
        position: fixed;
        left: 50%;
        top: 60%;
        z-index: 1;
        transform: translate(-50%, -50%)
    }

    .buy_container {
        margin: 0 auto;
        width: 400px;
        height: 340px;
        border-radius: 15px;
        position: fixed;
        left: 45%;
        top: 60%;
        z-index: 1;
        transform: translate(-50%, -50%)
    }

    .dim {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.6);
    }

    .btn_close {
        width: 20px;
        height: 20px;
        margin-right:20px;
        margin: 15px;
        float: right;
        cursor:pointer;
    }


   .soso_title {
        text-align: center;
        font-family: 'ELAND_Choice_M';
        font-size: 1.3rem;
        font-weight: bold;
        padding: 20px 0 15px 0;
        border-bottom: 2px solid #dfdfdf;
        max-width: 80%;
        margin: 0 auto;
    }

    #title_msg {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 40px;
        font-size: 1.2rem;
    }

    .msg_context {
        margin-top: 15px;
        width: 80%;
        height: 240px;
    }

    #button-send{
        width: 100%;
        font-size: 1.1rem;
        font-family: 'ELAND_Choice_M';
        margin-bottom: 10px;
    }

    #button-buy {
        background: #402700;
        border-color: #402700;
        width: 100%;
        font-size: 1.1rem;
        font-family: 'ELAND_Choice_M';
    }

  .submit_btn {
    width: 5rem;
    font-family: 'ELAND_Choice_M';
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    background: #ffc107;
    border: none;
    border-radius: 5px;
    color: white;
  }

  .buy_btn {
    width: 8rem;
    font-family: 'ELAND_Choice_M';
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    background: #ffc107;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
  }

.buy_alert {
    text-align: center;
    font-family: 'ELAND_Choice_M';
    font-size: 1.4rem;
    font-weight: bold;
    color: #737373;
}

.buy_ddun {
    font-size: 2rem;
    color: #402700;
}



/* 판매자 정보 */
.user_box {
    width: 100%;
    height: 70px;
}

.seller_title {
    font-family: 'ELAND_Choice_M';
    font-size: 1.2rem;
    font-weight: bold;
}

.seller_info {
    font-family: 'ELAND_Choice_M';
    font-weight: bold;
    font-size: 1rem;
    line-height: 50px;}

.user_img_s {
    display: block;
    height: 120px;
    margin: 0 auto;
}


/* 게시글 */
.sell_title{
    font-family: 'ELAND_Choice_M';
    font-size: 1.6rem;
    display: inline-block;
}

.cate {
    color: #919191;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #e0e0e0;
    padding: 5px 10px;
}

.title_wrap {
    width: 87%;
    display: inline-block;
}

.ddun_wrap {
    display: inline-block;
    font-size: 1.2rem;
}

#writer-name {
    text-align: center;
    margin-bottom: 20px;
}
.sell_date {
    text-align: right;
    font-size: 0.8rem;
}
