

<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link th:href="@{/css/login/login.css}" rel="stylesheet"/>
    <script th:src="@{/js/login/findPw.js}"></script>

    <title>비밀번호 찾기</title>

</head>

<body>

<div th:fragment="content">
    <meta name="viewport"
          content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    <div class="loginBox" style="height:300px !important" >

        <fieldset style="height: 430px;">
            <header>
                <h2 style="font-size: 2rem;font-family:yg-jalnan;">비밀번호 찾기</h2>
            </header>

            <div class="input-box">
                <input id="inputUsername" type="text" maxlength="50"
                       placeholder="이메일" >
                <label for="inputUsername" style="margin-left: 60px;">이메일</label>
            </div>

            <div class="input-box">
                <input id="inputPhoneNumber" type="text" maxlength="11" oninput="this.value = this.value.replaceAll(/\D/g, '')"
                       placeholder="전화번호" >
                <label for="inputPhoneNumber" style="margin-left: 60px;">전화번호</label>
            </div>
            <button id="sendPhoneNumber" class="btn" type="button" style="background: rgb(249, 179, 0);">문자 전송</button>

            <div class="input-box">
                <input id="inputCertifiedNumber" type="text" maxlength="4" oninput="this.value = this.value.replaceAll(/\D/g, '')"
                       placeholder="코드 입력">
                <label for="inputCertifiedNumber" style="margin-left: 60px;">코드 입력</label>
            </div>
            <button id="checkBtn" class="btn" type="button" style="background: rgb(249, 179, 0);">확인</button>

        </fieldset>

    </div>


</div>

</body>
</html>