<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/member/messenger.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">
        <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">

        <script th:inline="javascript" th:src="@{/js/member/messenger.js}"></script>
        <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
        <script th:src="@{/js/board/summernote/custom1.js}"></script>
        <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>
        <style>


        </style>
        <!-- 본문 시작 -->
        <!--홈 좌측 : 회원정보 / 광고 / 점메추-->
        <div class="col-lg-3">
            <div class="list_border">
                <select class="select_box">
                    <option selected="selected">전체 보기</option>
                    <option>거래 중</option>
                    <option>거래 완료</option>
                </select>

                <!--쪽지 수신자 리스트-->
                <table class="table" style="table-layout: fixed">
                    <tbody>
                        <tr th:each="senderList, idx : ${senderList}" >
                            <td class="msg_sender" th:value="${senderList.sendMno}">
                                <input type="hidden" class="sender_mno" th:value="${senderList.sendMno}">
                                <input type="hidden" class="sender_sosoNo" th:value="${senderList.board}">
                                <strong class="sender" >[[${senderList.lastName}]][[${senderList.firstName}]]</strong>
                                <button class="trade_btn" name="trade" th:value="${senderList.trade}">거래 중</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--홈 우측 : 게시물 리스트-->
        <div class="col-lg-9">
            <div class="content_border">
                <div id="mail_lee">
                    <div id="mail-box">
                        <div class="mail" th:each="msgList :${msgList}">
                            <div class="sender_info">
                                <input type="hidden" class="msgNo" th:value="${msgList.msgNo}">
                                <input type="hidden" class="sosoNo" th:value="${msgList.board.sosoNo}">
                                <input type="hidden" class="msgMno" th:value="${msgList.sendMember.mno}"/>
                                <div class="sender_wrap">
                                    <span class="send_title2" th:class="${msgList.msgRead == 1}?'read'">[[${msgList.msgTitle}]]</span>
                                    <div class="send_info" th:if="${member.mno} != ${msgList.sendMember.mno}">
                                        <strong>
                                            [[${msgList.sendMember.lastName}]][[${msgList.sendMember.firstName}]]
                                        </strong>
                                        <span>(<span th:text="${msgList.sendMember.username}"></span>)</span>
                                        <span class="send_time" th:text="${msgList.sendTime}"></span>
                                    </div>
                                    <div class="send_info" th:unless="${member.mno} != ${msgList.sendMember.mno}">
                                        <strong>
                                            본인
                                        </strong>
                                        <span>(<span th:text="${msgList.sendMember.username}"></span>)</span>
                                        <span class="send_time" th:text="${msgList.sendTime}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="send_msg">
                                <div class="msg_wrap">
                                    <p th:utext="${msgList.msgContent}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mail_write">
                        <h4 id="msg_title">📮 쪽지 보내기</h4>
                        <form th:action="@{/member/messenger/register}" th:method="post">
                            <!--제목-->
                            <div class="form-group">
                                <input type="text" id="send_title" name="msgTitle" class="title_input">
                            </div>
                            <!--내용-->
                            <div class="form-group">
                                <textarea id="summernote" name="msgContent" class="msg_context"></textarea>
                            </div>

                            <!--작성완료 버튼-->
                            <button type="button" class="reply reply_btn" style="float: right; margin: 1rem 0 3rem 0;">답장하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>
