<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/member/messenger.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">
        <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">

        <script th:src="@{/js/member/messenger.js}"></script>
        <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
        <script th:src="@{/js/board/summernote/custom1.js}"></script>
        <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>

        <!-- 본문 시작 -->
        <!--홈 좌측 : 회원정보 / 광고 / 점메추-->
        <div class="col-lg-3">
            <div class="list_border">
                <select class="select_box">
                    <option selected="selected">전체 보기</option>
                    <option>거래 중</option>
                    <option>거래 완료</option>
                </select>

                <table class="table" style="table-layout: fixed">
                    <tbody>
                    <tr>
                        <td>
                            <strong class="sender">이름</strong>
                            <span class="send_date">2021.11.12</span>
                            <span class="send_message">제가 구구절절 궁금한게 많은데요.... 문의를 해도 괜찮을지 모르겠어요^_ㅠ</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong class="sender">이름</strong>
                            <span class="send_date">2021.11.12</span>
                            <span class="send_message">제가 구구절절 궁금한게 많은데요.... 문의를 해도 괜찮을지 모르겠어요^_ㅠ</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong class="sender">이름</strong>
                            <span class="send_date">2021.11.12</span>
                            <span class="send_message">제가 구구절절 궁금한게 많은데요.... 문의를 해도 괜찮을지 모르겠어요^_ㅠ</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--홈 우측 : 게시물 리스트-->
        <div class="col-lg-9">
            <div class="content_border">
                <div class="margin_bottom">
                    <input type="button" class="check_btn button--primary button--with-icon" value="거래 중" />
                    <span class="send_title">단가 문의드립니다.</span>
                </div>

                <div class="mail">
                    <div class="sender_info">
                        <div style="height: 45px;">
                            <strong class="sender">김본명 </strong>
                            <span>(<span>abc@ds.com</span>)</span>
                            <span class="send_time">2021.11.12 오후 12:32</span>
                        </div>
                    </div>
                    <div class="send_msg">
                        <p> 담당자님, 비즈니스 프로필을 최신 상태로 유지하세요. Google 검색 및 지도에서 내 비즈니스를 찾는 사람들이
                            신규 고객으로 전환될 수 있습니다. 이제 더 쉽게 내 비즈니스 프로필을 관리할 수 있습니다.</p>
                    </div>
                </div>
                <div class="mail">
                    <div class="sender_info">
                        <div style="height: 45px;">
                            <strong class="sender">김본명 </strong>
                            <span>(<span>abc@ds.com</span>)</span>
                            <span class="send_time">2021.11.12 오후 12:32</span>
                        </div>
                    </div>
                    <div class="send_msg">
                        <p> 담당자님, 비즈니스 프로필을 최신 상태로 유지하세요. Google 검색 및 지도에서 내 비즈니스를 찾는 사람들이
                            신규 고객으로 전환될 수 있습니다. 이제 더 쉽게 내 비즈니스 프로필을 관리할 수 있습니다.</p>
                    </div>
                </div>
                <div class="mail">
                    <div class="sender_info">
                        <div style="height: 45px;">
                            <strong class="sender">김본명 </strong>
                            <span>(<span>abc@ds.com</span>)</span>
                            <span class="send_time">2021.11.12 오후 12:32</span>
                        </div>
                    </div>
                    <div class="send_msg">
                        <p> 담당자님, 비즈니스 프로필을 최신 상태로 유지하세요. Google 검색 및 지도에서 내 비즈니스를 찾는 사람들이
                            신규 고객으로 전환될 수 있습니다. 이제 더 쉽게 내 비즈니스 프로필을 관리할 수 있습니다.</p>
                    </div>
                </div>

                <div id="mail_write">
                    <form th:action="@{/member/messenger/register}" th:method="post">
                        <!--내용-->
                        <div class="form-group">
                            <textarea id="summernote" name="summernote"></textarea>
                        </div>

                        <!--작성완료 버튼-->
                        <button type="submit" class="reply reply_btn" style="float: right; margin: 1rem 0 3rem 0;">답장하기</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>
