<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <!-- 페이지 css/ js 추가 -->
    <link th:href="@{/css/member/mypage.css}" rel="stylesheet" />
    <script th:src="@{/js/join/join.js}"></script>
    <script th:src="@{/js/member/mypage.js}"></script>

    <!-- 본문 시작 -->
    <div class="content">
      <div style="margin-left: 6%;">
        <nav class="mypage_nav">
          <ul id="tabs">
            <li><a id="my_tab">회원 정보</a></li>
            <li><a id="money_tab">내 돈 정보</a></li>
          </ul>
        </nav>
      </div>

      <div id="my_wrap">

        <div id="my_page">
          <div id="user_data">
            <h2 class="mypage_title">회원 정보</h2>
            <hr class="my_margin">

            <form method="POST" class="center my_margin" id="frm">
                <div class="input_box">
                  <input type="email" class="input_info" id="username" name="username" placeholder="이메일(아이디)" readonly/>
                </div>

                <span class="resultBox pwdCheckResult"></span>
                <div class="input_box">
                  <input type="password" class="input_info pass" name="password" placeholder="비밀번호(영문, 숫자, 특수문자 조합 8~15자)"/>
                </div>

                <span class="resultBox rePwdCheckResult"></span>
                <div class="input_box">
                  <input type="password"  class="input_info pass" id="rePassword" name=""
                         placeholder="비밀번호 재확인">
                </div>

                <span class="resultBox mobileCheckResult"></span>
                <div>
                  <div id="input_box">
                    <input type="text" class="input_info" name="phoneNum" id="phoneNum" placeholder="휴대폰 번호 (숫자로만)" maxlength="11"
                           onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                  </div>
                  <button type="button" id="btnPhone" class="phoneAuthBtn a_white">인증</button>
                </div>

                <div>
                  <select class="job" name="jno">
                    <option th:each="dto : ${jobList}" th:value="${dto.jno}" name="jno">[[${dto.job}]]</option>
                  </select>
                  <select class="experience" name="experience"></select>
                </div>

                <span class="resultBox salaryCheckResult"></span>
                <div class="input_box">
                  <input type="text" id="salary" name="salary" placeholder="연봉"
                         onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                  <div class="tooltip">ⓘ
                    <span class="tooltiptext">연봉</span>
                  </div>
                </div>

                <label for="salary">근무시간</label>
                <div>
                  <select class="startTime" name="startTime"></select>
                  <select class="endTime" name="endTime"></select><br>
                </div>

              <button type="submit" class="button a_white">수정하기</button>
            </form>
          </div>
        </div>

        <div id="money_page" style="display:none;">
          <div id="user_wallet" style="margin-bottom: 70px;">
            <h2 class="mypage_title">내 돈 정보</h2>
            <button class="save_btn">저장</button>
            <hr class="my_margin">

            <div class="center">
              <div class="my_margin">
                <span class="money_title">실수령액</span>
                <input type="text" class="money_input" name="earn" readonly />
              </div>

              <div>
                <h4 class="mypage_subtitle margin_bottom">나의 위시 리스트</h4>
                <div class="my_margin2">
                  <span class="money_title">금액</span>
                  <input type="text" class="money_input" name="wish_total" readonly />
                </div>

                <table class="wish_table margin_top">
                  <thead>
                  <tr>
                    <td style="width:10%;">메인</td>
                    <td style="width:40%;">상품</td>
                    <td style="width:20%;">금액</td>
                    <td style="width:15%;">적금(%)</td>
                    <td style="width:15%;">D-DAY</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="radio" name="main_wish"/></td>
                    <td><input class="input_pd" placeholder="상품명을 입력하세요."></td>
                    <td><input class="input_cost" placeholder="ex) 50000"></td>
                    <td><input class="input_per" placeholder="ex) 10">%</td>
                    <td>D-4</td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="main_wish"/></td>
                    <td><input class="input_pd"></td>
                    <td><input class="input_cost"></td>
                    <td><input class="input_per">%</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="main_wish"/></td>
                    <td><input class="input_pd"></td>
                    <td><input class="input_cost"></td>
                    <td><input class="input_per">%</td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="user_ddun">
            <h2 class="mypage_title">내 뚠 정보</h2>
            <button class="charge_btn">충전</button>
            <hr class="my_margin">

            <div class="center my_margin">
              <div>
                <div class="my_ddun_wrap">
                  <span class="my_ddun">이번 달 적립</span>
                  <span class="my_ddun"><strong>540</strong>뚠</span>
                </div>
                <div class="my_ddun_wrap">
                  <span class="my_ddun">보유 뚠</span>
                  <span class="my_ddun"><strong>10,000</strong>뚠</span>
                </div>
              </div>

              <div>
                <h4 class="mypage_subtitle">뚠 사용 내역</h4>
                <table class="wish_table margin_top">
                  <thead>
                  <tr>
                    <td style="width:10%;">일자</td>
                    <td style="width:40%;">상세 내용</td>
                    <td style="width:15%;">입금</td>
                    <td style="width:15%;">출금</td>
                    <td style="width:20%;">남은 뚠</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>2021.11.09</td>
                    <td>포토샵 누끼</td>
                    <td>-</td>
                    <td>5,000</td>
                    <td>10,000</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 본문 끝 -->
    <!--페이지 수정 부분 끝-->
  </th:block>
</th:block>
