<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <!--페이지 수정 부분 시작-->

    <!-- 페이지 css/ js 추가 -->

    <!-- 본문 시작 -->
    <div class="content">
      <nav>
        <ul>
          <li>회원 정보</li>
          <li>내 돈 정보</li>
        </ul>
      </nav>

      <div id="money_page">
        <h2 class="mypage_title">내 돈 정보</h2>
        <hr>

        <div>
          <span>실수령액</span>
          <input>
        </div>

        <div>
          <h4>나의 위시 리스트</h4>
          <span>금액</span>
          <input>

          <table>
            <thead>
              <tr>
                <td>상단 표시</td>
                <td>상품</td>
                <td>금액</td>
                <td>넣을 금액(%)</td>
                <td>D-DAY</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="radio"/></td>
                <td>아이패드</td>
                <td>990,000</td>
                <td>20%</td>
                <td>D-4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- 본문 끝 -->
    <!--페이지 수정 부분 끝-->
  </th:block>
</th:block>
