<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basicB :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <head>
            <meta charset="UTF-8">
            <title>환영합니다.</title>
        </head>

        <body>
            <section class="card mg_bottom">
                <div class="join_container">
                    <div id="title">개미는 뚠뚠</div>
                       <h3>가입을 환영합니다!</h3>
                    </div>
                    <a th:href="@{/}">메인으로</a>
                </div>
            </section>
        </body>


    </th:block>
</th:block>
</html>