<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basicSearch :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/board/qna/qnaStyles.css}" rel="stylesheet" />
        <link th:href="@{/css/board/jayu/register.css}" rel="stylesheet" />

        <!-- 본문 시작 -->
        <!-- 글쓰기 버튼 -->
        <a th:href="@{/member/jayu/register}">
            <button class="btn btn-primary" style="float: right; margin-top: -60px; font-family: 'ELAND_Choice_M';">글 쓰기</button>
        </a>

        <!-- 카테고리 목록 -->
        <div class="subNav-body">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="subNav" th:href="@{/jayu/list/all}">전체</a>
                <a th:each="cateList : ${cateList}" class="subNav"
                        th:onclick="|javascript:getCateList(${cateList.jayuCateNo},'1')|">
                [[${cateList.jayuCateName}]]
            </a>
            </nav>
        </div>
        <!-- 게시물 -->
        <div class="card qnaCardList" th:each=" jayuList: ${jayuList.dtoList}" th:data-keyword="${pageRequestDTO.keyword}"
             th:onclick="|javascript:read('${jayuList.jayuNo}','${pageRequestDTO.page}', this.getAttribute('data-keyword'))|">
            <!-- 게시글 정보 -->
            <div class="post-body attach-img-pre">
                <div class="leftSection">
                    <!-- 카테고리 -->
                    <span class="cate cate_line">[[${jayuList.jayuCateName}]]</span>
                    <!-- 제목 + 글 -->
                    <div class="post-content">
                        <h3><span th:text="${jayuList.title}" class="list_title"></span></h3>
                            <span class="content-text" style="height: 50px;" th:utext="${jayuList.content}"></span>
                    </div>
                </div>
                <!-- 썸네일 -->
                <div class="rightSection">
                    <a href="#post">
                        <img class="imgTest" style="display:inline-block;
                    background:lightgray; width:8rem; height:8rem;" src="" alt="">
                        <!--           <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                                        th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">-->
                    </a>
                </div>
            </div>

            <!-- 사용자 정보 -->
            <div class="boardInfo">
                <!-- 작성자 및 조회수 -->
                <div class="leftSection">
                    <div class="nickName">[[${jayuList.writer}]]</div>

                    <div class="wrapInfo">
                        <span class="like"><img th:src="@{/assets/heart_0.png}" width="20px;"> 125</span>
                        <span class="views"><img th:src="@{/assets/eye.png}" width="24px;"> [[${jayuList.viewCnt}]]</span>
                        <span class="cmt"><img th:src="@{/assets/messenger.png}" width="19px;"> 51</span>
                    </div>
                </div>

                <!-- 등록일 -->
                <div class="rightSection">
                    <span class="regDate" th:text="${#temporals.format(jayuList.regDate, 'yy-MM-dd')}"></span>
                </div>
            </div>

        </div>
        <!-- cardList end -->

        <!--    페이지 번호     -->
        <nav aria-label="Page navigation example">
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${jayuList.prev}">
                    <a class="page-link" th:href="@{/jayu/list/all(page=${jayuList.start - 1},
                keyword = ${pageRequestDTO.keyword})}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item '+ ${jayuList.page == page?'active':''} "
                    th:each="page: ${jayuList.pageList}">
                    <a class="page-link" th:href="@{/jayu/list/all(page = ${page}, keyword = ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${jayuList.next}">
                    <a class="page-link" th:href="@{/jayu/list/all(page= ${jayuList.end + 1},
                    keyword = ${pageRequestDTO.keyword})}">다음</a>
                </li>
            </ul>
        </nav>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->

        <script th:inline="javascript">
           var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';
           //카테고리 페이지 이동
           function getCateList(jayuCateNo, page){
                /*[+
                var cateurl = contextPath + [[@{/jayu/list}]] +
                    "?cate=" +jayuCateNo + "&page=" + page;
                +]*/

                location.href=cateurl;
            }

           //게시물 조회
           function read(jayuNo, page, keyword){
                /*[+
                var readurl = contextPath + [[@{/member/jayu/read}]] +
                    "?jayuNo=" +jayuNo + "&page=" + page + "&keyword=" + keyword;
                +]*/

                location.href=readurl;
            }

           //검색
           var searchForm = $("#searchForm");
           $('.searchButton').click(function(e){
                searchForm.submit();
           });
        </script>
    </th:block>
</th:block>
