<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
        <link rel="stylesheet" th:href="@{/css/board/jayu/register.css}">

        <!-- 본문 시작 -->
        <div class="content">
            <div class="form-group">
                <!--카테고리-->
                <div class="option">
                    <span class="cate cate_line">[[${jayuBoardDTO.jayuCateName}]]</span>
                </div>

                <!--펑예-->
                <div class="option">
                    <label class="peong">💣펑예</label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="alert_tip">ⓘ
                        <span class="tooltiptext">익일 자정에 펑! 삭제됩니다.</span>
                    </div>
                </div>
                <!-- 제목 -->
                <div class="title" name="title" th:utext="${jayuBoardDTO.title}"></div>

                <div style="width:100%;">
                    <!-- 작성자 -->
                    <div class="writer" name="writer" th:utext="${jayuBoardDTO.writer}"></div>
                    <!-- 날짜 -->
                    <div class="dateTime">
                    <span>등록일:
                        <span name="regDate" th:utext="${#temporals.format(jayuBoardDTO.regDate,'yyyy/MM/dd HH:mm:ss')}"
                              style="margin-right: 15px;"></span>
                    </span>
                        <span>수정일:
                        <span name="modDate" th:utext="${#temporals.format(jayuBoardDTO.modDate,'yyyy/MM/dd HH:mm:ss')}"></span>
                    </span>
                    </div>
                </div>

                <!-- 본문 -->
                <hr>
                <div class="content_height" name="content" th:utext="${jayuBoardDTO.content}"></div>
            </div>

            <a th:href="@{/jayu/list}">
                <button class="btn btn-primary">목록보기</button>
            </a>

        </div>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>
