<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->
        <link th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
        <!-- 페이지 css/ js 추가 -->
        <link rel="stylesheet" th:href="@{/css/board/jayu/register.css}">
        <script th:src="@{/js/board/jayu/register.js}"></script>

        <!-- summernote css/ js -->
        <script th:src="@{/js/board/summernote/custom.js}"></script>
        <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
        <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">
        <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">

        <!-- summernote 한글 적용 -->
        <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>

        <!-- 본문 시작 -->
        <div class="content">
            <form th:action="@{/member/jayu/read}" method="post">
                <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
                <!--카테고리-->
                <div class="option">
                    <select class="category" name="category">
                    </select>
                </div>

                <!--펑예-->
                <div class="option">
                    <label class="peong">💣펑예</label>
                    <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                    <div class="alert_tip">ⓘ
                        <span class="tooltiptext">익일 자정에 펑! 삭제됩니다.</span>
                    </div>
                </div>

                <!--제목-->
                <div class="form-group">
                    <input type="text" class="form-control" name="title" required
                           placeholder="제목을 입력해주세요">
                </div>

                <!--내용-->
                <div class="form-group">
                    <textarea id="summernote" name="content" required></textarea>
                </div>

                <!--작성자-->
                <div class="form-group">
                    <input type="text" class="form-control" name="writer" readonly>
                </div>

                <!--작성완료 버튼-->
                <button type="submit" class="btn btn-primary">등록</button>
            </form>
        </div>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>
