/* 기본 글꼴과 크기 설정 */
.note-editable {
     font-family: 맑은 고딕;
     font-size: 12px!important;
}
.note-placeholder {
     font-family: 맑은 고딕;
     font-size: 12px;
}

/* 토글 중복 수정 */
.dropdown-toggle::after {
    display: none;
}

