<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>개미는 뚠뚠</title>
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}"/>

    <link th:href="@{css/main/styles.css}" rel="stylesheet"/>
    <link th:href="@{css/main/main.css}" rel="stylesheet">
    <link th:href="@{css/main/slick.css}" rel="stylesheet">
    <link th:href="@{css/main/slotmachine.css}" rel="stylesheet">
    <link th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" type="text/css" rel="stylesheet">

    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript"
            th:src="@{http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js}"></script>

    <script th:src="@{js/main/jquery.easing.1.3.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{js/main/jquery.jSlots.min.js}" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap core JS-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- Core theme JS-->
    <script th:inline="javascript" th:src="@{js/main/main.js}"></script>
</head>
<body>
<div>
    <div id="fixed">
        <!--로그인 정보에 따라 노출 유무 결정-->
        <header>
            <div class="wish" sec:authorize="isAuthenticated()">
                    <span id="main_wish" class="impact" style="display: none;" th:each="list : ${wishListIndex}">
                        🎉 <strong class="main_wish impact" th:text="${list.wishList}"></strong>까지
                        <strong class="impact" th:text="${list.dDay}"><span class="wish_day"></span>일</strong> 남았습니다. ✨
                    </span>
                    <span id="no_wish" class="impact"  style="display: none;">
                        📝 <strong class="impact">메인 위시리스트를 등록해주세요.</strong>🥺
                    </span>
                <img th:src="@{assets/close.png}" class="wish_close"/>
            </div>
        </header>
        <!--페이지 상단 공통 : logo & nav-->
        <nav class="navbar navbar-expand-md navbar-light bg-primary">
            <div class="container">
                <a id="logo" class="navbar-brand" th:href="@{#}">개미는 뚠뚠</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li><a class="nav-link nav_li" th:href="@{/member/sosojob/main}">소소한JOB</a></li>
                        <li><a class="nav-link nav_li" th:href="@{/qna/list}">QnA</a></li>
                        <li><a class="nav-link nav_li" th:href="@{/member/jayu/list}">자유게시판</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--메인 메뉴-->
    <div class="blank" sec:authorize="isAuthenticated()">
    </div>
    <div class="container-main container">
        <div class="row">

            <!--홈 좌측 : 회원정보 / 광고 / 점메추-->
            <div class="col-lg-3">
                <div class="mb-3 margin_bottom">
                    <!--After Login-->
                    <div id="login" sec:authorize="isAuthenticated()">
                        <div id="user_info">
                            <div class="user_wrap">
                                <div class="user_item" th:each="member: ${member}">
                                    <img th:src="@{'assets/user_img/'+${member.experience}+'.png'}" class="user_img"/>
                                </div>
                                <div class="user_item user_id font_e" th:each="member: ${member}">
                                    <span class="bold"><span>[[${member.job.job}]]</span> </span>
                                    <span class="bold"><span>[[${member.experience}]]</span>년차 </span>
                                    <span class="bold"><span>[[${member.lastName}]]</span>개미</span><br>
                                    <span><a th:href="@{/member/mypage}" class="gray my_info">내정보</a></span>
                                    <button class="btn_logout"><a th:href="@{/logout}" class="a_white">로그아웃</a></button>
                                </div>
                            </div>
                            <div id="user_nav">
                                <ul class="user_ul">
                                    <li class="user_li li_left">알림<span th:name="a" class="alert_new">3</span></li>
                                    <li class="user_li li_center">쪽지<span th:name="b" class="alert_new">11</span></li>
                                    <li class="user_li li_right"><img th:src="@{assets/lock.png}" style="width: 20px"/>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--버튼 클릭시 open-->
                        <div id="user_alert" style="display: none;">
                            <table class="alert_tb" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="user_msg" style="display: none;">
                            <table class="alert_tb" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alert" th:name="@{#}">
                                        <span>딩동 알림이 왔어요~!</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="user_secret" style="display: none;">
                            <div id="home">
                                <span id="earn_title">오늘 내가 번 돈</span>
                            </div>
                            <div id="money" th:each="member: ${member}">
                                <span id="daily_earn"></span>
                            </div>

                            <div style="display: none;">
                                <span id="startTime">[[${member.startTime}]]</span>
                                <span id="endTime">[[${member.endTime}]]</span>
                                <span id="salary">[[${member.salary}]]</span>
                            </div>

                        </div>

                        <!--wish list 달성률-->
                        <div id="user_goal" class="margin_bottom" style="display: none;">
                            <strong>달성율</strong>
                            <table id="wish_table" style="table-layout: fixed">
                                <tr th:each="wishList : ${wishList}">
                                    <td class="wish_product" th:value="${wishList.wishList}"></td>
                                    <td class="wish_day">D-5</td>
                                </tr>
                            </table>
                        </div>
<!--                        <div id="no_goal" class="margin_bottom" style="display: none;">
                            <strong>등록된 위시리스트가<br>없습니다.</strong>
                        </div>-->
                    </div>

                    <!--Before Login-->
                    <div id="unlogin" sec:authorize="!isAuthenticated()">
                        <button class="button btn_login">
                            <a th:href="@{/login}" class="button a_white">로그인</a>
                        </button>
                        <button class="button btn_regist">
                            <a th:href="@{/joinAgree}" class="button a_white">회원가입</a>
                        </button>
                    </div>
                </div>

                <div class="fullsize">
                    <div class="mb-3 margin_top margin_bottom">
                        <h4 class="lunch_title">오늘 점심메뉴는?</h4>
                        <div class="lunch_menu">
                            <div class="slot">
                                <ul class="slotRun1">
                                    <li class="lunch_menu">불고기</li>
                                    <li class="lunch_menu">쌈밥</li>
                                    <li class="lunch_menu">볶음밥</li>
                                    <li class="lunch_menu">초밥</li>
                                    <li class="lunch_menu">해장국</li>
                                    <li class="lunch_menu">비빔밥</li>
                                    <li class="lunch_menu">칼국수</li>
                                    <li class="lunch_menu">라멘</li>
                                    <li class="lunch_menu">덮밥</li>
                                    <li class="lunch_menu">돈까스</li>
                                    <li class="lunch_menu">냉면</li>
                                    <li class="lunch_menu">우동</li>
                                    <li class="lunch_menu">갈비탕</li>
                                    <li class="lunch_menu">도시락</li>
                                    <li class="lunch_menu">샐러드</li>
                                    <li class="lunch_menu">햄버거</li>
                                    <li class="lunch_menu">김밥</li>
                                    <li class="lunch_menu">떡튀순</li>
                                    <li class="lunch_menu">카레</li>
                                    <li class="lunch_menu">찌개류</li>
                                    <li class="lunch_menu">청국장</li>
                                    <li class="lunch_menu">삼계탕</li>
                                    <li class="lunch_menu">짜장면</li>
                                    <li class="lunch_menu">짬뽕</li>
                                    <li class="lunch_menu">파스타</li>
                                    <li class="lunch_menu">리조또</li>
                                    <li class="lunch_menu">쌀국수</li>
                                    <li class="lunch_menu">찜닭</li>
                                    <li class="lunch_menu">팟타이</li>
                                </ul>
                            </div>
                        </div>
                        <input type="button" class="button btn_lunch playNormal1 a_white" value="메뉴 고르기"/>
                    </div>

                    <div class="margin_bottom">
                        <div class="card mb-3">
                            <img th:src="@{http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg}"/>
                        </div>

                        <div class="card mb-3">
                            <img th:src="@{http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg}"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--홈 우측 : 게시물 리스트-->
            <div class="col-lg-9">
                <div class="mb-4">
                    <section class="card margin_bottom2">
                        <div class="card-header">
                            <h3 class="boardlist">소소한JOB 카테고리</h3>
                        </div>
                        <div class="card-body">
                            <div id="page">
                                <div class="row">
                                    <div class="column small-11 small-centered">
                                        <section class="visual">
                                            <div class="slick-card" th:onclick="location.href='sosojob/it'">
                                                <span>IT</span>
                                                <img class="cate-thumbnail" th:src="@{assets/sosojob_cate/it.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/design'">
                                                <span>디자인·설계</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/design.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/media'">
                                                <span>미디어</span>
                                                <img class="cate-thumbnail" th:src="@{assets/sosojob_cate/media.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/translate'">
                                                <span>번역</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/translate.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/document'">
                                                <span>문서작업</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/document.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/marketing'">
                                                <span>마케팅</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/marketing.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/work'">
                                                <span>취업·이직</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/resume.jpg}"/>
                                            </div>
                                            <div class="slick-card" th:onclick="location.href='sosojob/edu'">
                                                <span>실무교육</span>
                                                <img class="cate-thumbnail"
                                                     th:src="@{assets/sosojob_cate/edu.jpg}"/>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="card margin_bottom2">
                        <div class="card-header">
                            <h3 class="boardlist">QnA</h3>
                            <span class="more"><a th:href="@{/QnA/list}">더보기</a></span>
                        </div>
                        <div class="card-body">
                            <table class="table" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td class="category"><span class="tag_b" th:name="@{#}">웹개발</span></td>
                                    <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
                                        <a th:name="@{#}" th:src="@{#}">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</a>
                                    </td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/coins.png}" width="19"> 150
                                    </td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/eye.png}" width="20"> 67</td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/messenger.png}" width="18"> 5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section class="card margin_bottom2">
                        <div class="card-header">
                            <h3 class="boardlist">내일이면 사라져요!</h3>
                            <span class="more"><a th:href="@{/jayu/peong}">더보기</a></span>
                        </div>
                        <div class="card-body">
                            <table class="table" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td class="peong" th:name="@{#}">💣</td>
                                    <td class="category"><span class="tag_b" th:name="@{#}">소곤소곤</span></td>
                                    <td class="title"
                                        style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
                                        <a th:name="@{#}" th:src="@{#}">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</a>
                                    </td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/heart.png}" width="19"> 150
                                    </td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/eye.png}" width="20"> 67</td>
                                    <td class="data" th:name="@{#}"><img th:src="@{assets/messenger.png}" width="18"> 5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section class="card margin_bottom2">
                        <div class="card-header">
                            <h3 class="boardlist">자유 게시판</h3>
                            <span class="more"><a th:href="@{/jayu/List}">더보기</a></span>
                        </div>
                        <div class="card-body">
                            <table class="table" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td class="peong" th:name="@{#}">💣</td>
                                    <td class="category"><span class="tag_b" th:name="@{#}">소곤소곤</span></td>
                                    <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
                                        <a th:name="@{#}" th:src="@{#}">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</a>
                                    </td>
                                    <td class="data"><img th:src="@{assets/heart.png}" width="19"> 150</td>
                                    <td class="data"><img th:src="@{assets/eye.png}" width="20"> 67</td>
                                    <td class="data"><img th:src="@{assets/messenger.png}" width="18"> 5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <div class="mbsize margin_top">
                        <div class="card mb-3 ">
                            <img th:src="@{http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg}"/>
                        </div>

                        <div class="mb-3 margin_top margin_bottom">
                            <h4 class="lunch_title">오늘 점심메뉴는?</h4>
                            <div class="lunch_menu">
                                <div class="slot">
                                    <ul class="slotRun2">
                                        <li class="lunch_menu">불고기</li>
                                        <li class="lunch_menu">쌈밥</li>
                                        <li class="lunch_menu">볶음밥</li>
                                        <li class="lunch_menu">초밥</li>
                                        <li class="lunch_menu">해장국</li>
                                        <li class="lunch_menu">비빔밥</li>
                                        <li class="lunch_menu">칼국수</li>
                                        <li class="lunch_menu">라멘</li>
                                        <li class="lunch_menu">덮밥</li>
                                        <li class="lunch_menu">돈까스</li>
                                        <li class="lunch_menu">냉면</li>
                                        <li class="lunch_menu">우동</li>
                                        <li class="lunch_menu">갈비탕</li>
                                        <li class="lunch_menu">도시락</li>
                                        <li class="lunch_menu">샐러드</li>
                                        <li class="lunch_menu">햄버거</li>
                                        <li class="lunch_menu">김밥</li>
                                        <li class="lunch_menu">떡튀순</li>
                                        <li class="lunch_menu">카레</li>
                                        <li class="lunch_menu">찌개류</li>
                                        <li class="lunch_menu">청국장</li>
                                        <li class="lunch_menu">삼계탕</li>
                                        <li class="lunch_menu">짜장면</li>
                                        <li class="lunch_menu">짬뽕</li>
                                        <li class="lunch_menu">파스타</li>
                                        <li class="lunch_menu">리조또</li>
                                        <li class="lunch_menu">쌀국수</li>
                                        <li class="lunch_menu">찜닭</li>
                                        <li class="lunch_menu">팟타이</li>
                                    </ul>
                                </div>
                            </div>
                            <input type="button" class="button btn_lunch playNormal2 a_white" value="메뉴 고르기"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright ⓒ개미는뚠뚠 2021</p></div>
    </footer>
</div>

</body>
</html>
