<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basicList :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/board/qna/qnaStyles.css}" rel="stylesheet" />
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
        <script th:src="@{/js/board/qna/likes.js}"></script>



        <!-- 본문 시작 -->
        <div class="subNav-body">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="subNav" th:href="@{/qna/list/}">전체 </a><a th:each="jobList : ${jobList}" class="subNav" th:href="@{'/qna/list/' + ${jobList.jno}}">
                    [[${jobList.job}]]
                </a>
            </nav>
        </div>

        <!-- 게시물 -->
        <div class="card qnaCardList" th:each="boardList : ${boardList.dtoList}">

            <div class="post-body attach-img-pre">

                <div class="leftSection">

                    <span id="qnaNo" hidden th:text="${boardList.qnaNo}"></span>

                    <!-- 카테고리, 뚠 -->
                    <span class="cate" th:text="${boardList.job}"></span>
                    <span class="smallDdun" th:text="${boardList.ddun}"></span>
                    <!-- 제목 + 글 -->
                    <div class="post-content">
                        <h3><a th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}" th:text="${boardList.title}"></a></h3>
                        <a class="content-text" th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}"
                           th:utext="${boardList.content}"></a>
                    </div>

                </div>

 <!--               <div class="rightSection">
                    <a th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}">
                        <img class="imgTest" style="display:inline-block; background:lightgray; width:8rem; height:8rem;" src="" alt="">
                        &lt;!&ndash;
                        <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                                        th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">&ndash;&gt;
                    </a>
                </div>-->
            </div>

            <!-- 사용자 정보   -->
            <div class="boardInfo">
                <div class="leftSection">
                    <div class="" ><a class="nickName" href="#post">[[${boardList.writer}]]</a></div>

                    <div class="wrapInfo">
                        <a class="views" th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}">
                            <img th:src="@{/assets/eye.png}" width="24px;"> [[${boardList.viewCnt}]]
                        </a>

<!--
                        리스트에서 하트 누르는 거 보류..
                        <img th:if="${boardList.LikesCnt != 1}"  th:src="@{/assets/heart_0.png}" width="20px;" />
                        <img th:if="${boardList.LikesCnt == 1}"  th:src="@{/assets/heart_1.png}" width="20px;" />

                        <a class="like" id="likeBtn" >
                            <img style="cursor:pointer;"  th:src="@{/assets/heart_0.png}" width="20px;">
                            &nbsp;<span id="likesCnt">[[${boardList.LikesCnt}]]</span>
                        </a>

                        <a class="like">
                        <span th:if="${qnaCheck} == null "><img th:src="@{/assets/heart_0.png}" width="20px;"th:id="likeBtn"></span>
                        <span th:if="${qnaCheck} != null"><img th:src="@{/assets/heart_1.png}" width="20px;"th:id="likeBtn"></span>
                        </a>
-->

                       <a class="like">
                            <img th:src="@{/assets/heart_0.png}" width="25px;">&nbsp;[[${boardList.LikesCnt}]]
                        </a>

                        <a class="cmt" th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}">
                            <img th:src="@{/assets/messenger.png}" width="19"> [[${boardList.viewCnt}]]
                        </a>
                    </div>

                </div>

                <!--   네 번째 영역 -->
                <div class="rightSection">
                    <a th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}" class="regDate"
                       th:text="${#temporals.format(boardList.regDate, 'yy-MM-dd')}">
                    </a>
                </div>

            </div>

        </div> <!-- cardList end -->


        <nav aria-label="Page navigation example">
            <!--    페이지 번호     -->
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${boardList.prev}">
                    <a class="page-link" th:href="@{/qna/list/(page=${boardList.start - 1},
                type=${pageRequestDTO.type},
                keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item '+ ${boardList.page == page?'active':''} "
                    th:each="page: ${boardList.pageList}">
                    <a class="page-link"  th:href="@{'/qna/list/'(id=${jobList.jno})(page = ${page}, type=${pageRequestDTO.type},
                keyword = ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${boardList.next}">
                    <a class="page-link" th:href="@{/qna/list/ (page= ${boardList.end + 1}, type=${pageRequestDTO.type}
                , keyword = ${pageRequestDTO.keyword} )}">다음</a>
                </li>
            </ul>
        </nav>

        <a th:href="@{/member/qna/registerForm}" class="write">글쓰기</a>

        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->


        <script type="text/javascript" th:inline="javascript">
        var msg = $.parseJSON('[[ ${msg} ]]');
        var url = "@{/assets/coins.png}";
        var heart0 = [[ ${msg} ]]
        </script>
        <script th:src="@{/js/board/qna/like.js}"></script>

    </th:block>
</th:block>