<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/board/qna/qnaStyles.css}" rel="stylesheet" />


        <!-- 본문 시작 -->
        <div class="subNav-body">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a th:each="jobList : ${jobList}" class="subNav" href="#">[[${jobList.job}]]</a>
            </nav>
        </div>

        <!-- 게시물 -->
        <div class="card qnaCardList" th:each="dto : ${result.dtoList}">

            <div class="post-body attach-img-pre">

                <div class="leftSection">
                    <!-- 카테고리, 뚠 -->
                    <span class="smallDdun" th:text="${dto.ddun}"></span>
                    <span class="smallCategory" th:text="${dto.category}"></span>
                    <!-- 제목 + 글 -->
                    <div class="post-content">
                        <h3><a href="#post" th:text="${dto.title}"></a></h3>
                        <p class="content-text">
                            <a href="#post" th:text="${dto.content}"></a>
                        </p>
                    </div>

                </div>

                <div class="rightSection">
                    <a href="#post">
                        <img class="imgTest" style="display:inline-block;
                    background:lightgray; width:8rem; height:8rem;" src="" alt="">
                        <!--           <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                                        th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">-->
                    </a>
                </div>
            </div>

            <!-- 사용자 정보   -->
            <div class="boardInfo">
                <!--   세 번째 영역 -->
                <div class="leftSection">
                    <div class="" ><a class="nickName" href="#post">[[${dto.writer}]]</a></div>

                    <div class="wrapInfo">
                        <a class="views" href="#post"><img th:src="@{/assets/eye.png}" width="24px;"> [[${dto.cnt}]]</a>
                        <a class="like"><img th:src="@{/assets/heart.png}" width="20px;"> [[${dto.cnt}]]</a>
                        <a class="cmt" href="#post"><img th:src="@{/assets/messenger.png}" width="19"> [[${dto.cnt}]]</a>
                    </div>

                </div>

                <!--   네 번째 영역 -->
                <div class="rightSection">
                    <a href="#post" class="regDate" th:text="${#temporals.format(dto.regDate, 'yy-MM-dd')}"></a>
                </div>

            </div>

        </div> <!-- cardList end -->



        <nav aria-label="Page navigation example">
            <!--    페이지 번호     -->
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${result.prev}">
                    <a class="page-link" th:href="@{/qna/list(page=${result.start - 1},
                type=${pageRequestDTO.type},
                keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item '+ ${result.page == page?'active':''} "
                    th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="@{/qna/list(page = ${page}, type=${pageRequestDTO.type},
                keyword = ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/qna/list(page= ${result.end + 1}, type=${pageRequestDTO.type}
                , keyword = ${pageRequestDTO.keyword} )}">다음</a>
                </li>
            </ul>
        </nav>

        <a th:href="@{/member/qna/registerForm}" class="write">글쓰기</a>

        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>