<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basicList :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/css/board/qna/qnaStyles.css}" rel="stylesheet" />

        <!-- 본문 시작 -->
        <a th:href="@{/member/qna/registerForm}">
            <button class="btn btn-primary" style="float: right; margin-top: -60px;">글 쓰기</button>
        </a>

        <div class="subNav-body">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="subNav" th:href="@{/qna/list/all/}">전체</a>

                <a th:each="jobList : ${jobList}" class="subNav" th:onclick="|javascript:getjobList(${jobList.jno},'1')|">[[${jobList.job}]]
                </a>
            </nav>
        </div>


        <!-- 게시물 -->
        <div class="card qnaCardList" th:each="boardList : ${boardList.dtoList}" th:data-keyword="${pageRequestDTO.keyword}"
             th:onclick="|javascript:read('${boardList.qnaNo}','${pageRequestDTO.page}', this.getAttribute('data-keyword'))|">
            <div class="post-body attach-img-pre">

                <div class="leftSection">

                    <span id="qnaNo" hidden th:text="${boardList.qnaNo}"></span> <!--qnaNo 넘겨줄 때 필요-->

                    <!-- 카테고리, 뚠 -->
                    <span class="cate" th:text="${boardList.job}"></span>
                    <span class="smallDdun" th:text="${boardList.ddun}"></span>
                    <!-- 제목 + 글 -->
                    <div class="post-content">
                        <h3><a  th:text="${boardList.title}"></a></h3>
                        <a class="content-text" th:utext="${boardList.content}"></a>
                    </div>

                </div>
                <!--
                                <div class="rightSection">
                                   <a th:href="@{'/member/qna/read/' + ${boardList.qnaNo}}">
                                       <img class="imgTest" style="display:inline-block; background:lightgray; width:8rem; height:8rem;" src="" alt="">
                                       &lt;!&ndash;
                                       <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                                                       th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">&ndash;&gt;
                                   </a>
                                </div>
                -->
            </div>

            <!-- 사용자 정보   -->
            <div class="boardInfo">
                <div class="leftSection">
                    <div class="" ><a class="nickName" href="#post">[[${boardList.writer}]]</a></div>

                    <a class="like">
                        <img th:src="@{/assets/heart_0.png}" width="25px;">&nbsp;[[${boardList.LikesCnt}]]&nbsp
                    </a>

                    <div class="wrapInfo">
                        <a class="views">
                            <img th:src="@{/assets/view.png}" width="25px;"> [[${boardList.viewCnt}]]
                        </a>

                        <a class="cmt">
                            <img th:src="@{/assets/comment.png}" width="23px;"> [[${boardList.viewCnt}]]
                        </a>
                    </div>

                </div>

                <!--   네 번째 영역 -->
                <div class="rightSection">
                    <a class="regDate"
                       th:text="${#temporals.format(boardList.regDate, 'yy-MM-dd')}">
                    </a>
                </div>

            </div>

        </div> <!-- cardList end -->
        <!--    페이지 번호     -->
        <nav aria-label="Page navigation example">
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${boardList.prev}">
                    <a class="page-link" th:href="@{/qna/list/all(page=${boardList.start - 1},
                keyword = ${pageRequestDTO.keyword})}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item '+ ${boardList.page == page?'active':''} "
                    th:each="page: ${boardList.pageList}">
                    <a class="page-link" th:href="@{/qna/list/all/(page = ${page})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${boardList.next}">
                    <a class="page-link" th:href="@{/qna/list/all(page= ${boardList.end + 1},
                    keyword = ${pageRequestDTO.keyword})}">다음</a>
                </li>
            </ul>
        </nav>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->

        <script th:inline="javascript">
        var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

            //카데고리별 출력
            function getjobList(jno, page, keyword){

                /*[+
                var urlword = contextPath + [[@{/qna/list}]] +
                    "?cate=" +jno
                     + "&page=" + page + "&keyword=" + keyword;
                +]*/

                location.href=urlword;
            }

           //게시물 조회
           function read(qnaNo, page, keyword){
                /*[+
                var readurl = contextPath + [[@{/member/qna/read}]] +
                    "?qnaNo=" +qnaNo + "&page=" + page + "&keyword=" + keyword;
                +]*/

                location.href=readurl;
            }

        </script>
    </th:block>
</th:block>
