<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:inline="javascript">
var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

      var actionForm = $("form");
      $(".removeBtn").click(function(){
        actionForm.attr("action", "contextPath + [[@{/qna/remove}]]").attr("method","post");
        actionForm.submit();
      });
      $(".modifyBtn").click(function(){
        if(!confirm("수정하시겠습니까?")){
          return;
        }
        actionForm.attr("action", " contextPath + [[@{/qna/modify}]]").attr("method","post").submit();
      });
</script>
</html>