<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
        <link rel="stylesheet" th:href="@{/css/board/qnaStyles/.css}">

        <!-- 본문 시작 -->
        <div class="content">

            <!--제목-->
            <div class="form-group">
                <input type="text" class="form-control" name="title" readonly
                       th:value="${boardList.title}">
            </div>

            <!--내용-->
            <div class="form-group">
                <div name="content" th:utext="${boardList.content}"></div>
            </div>

            <!--작성자-->
            <div class="form-group">
                <input type="text" class="form-control" name="writer"
                       th:value="${boardList.writer}" readonly>
            </div>

            <!--등록일자-->
            <div class="form-group">
                <input type="text" class="form-control" name="regDate" readonly
                       th:value="${#temporals.format(boardList.regDate,'yyyy/MM/dd HH:mm:ss')}">
            </div>

            <!--좋아요 개수-->
                <div>[[${boardList.likesCnt}]]개</div>

            <!-- 수정일자-->
            <div class="form-group">
                <input type="text" class="form-control" name="modDate" readonly
                       th:value="${#temporals.format(boardList.modDate,'yyyy/MM/dd HH:mm:ss')}">
            </div>
            <a th:href="@{/qna/list}">
                <button class="btn btn-primary">목록보기</button>
            </a>

        </div>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>
