<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
    <link rel="stylesheet" th:href="@{/css/board/qna/read.css}">
    <script th:src="@{/js/board/qna/likes.js}"></script>
    <script th:src="@{/js/board/qna/read.js}"></script>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

        <!-- 본문 시작 -->
        <form>

            <div class="content">
                <div class="form-group">


                    <!-- 카테고리 -->
                    <div>
                        <input id="qnaNo" name="qnaNo" type="hidden" th:value="${boardList.qnaNo}">
                        <input id="mno" name="mno" type="hidden" th:value="${boardList.mno}">
                        <span class="cate" th:text="${boardList.job}" ></span>
                    </div>

                    <h1 class="title" th:text="${boardList.title}"></h1>

                    <div style="width:100%; height:70px">
                        <div class="leftSection">
                            <!-- 작성자 -->
                            <div class="writer" name="writer" th:text="${boardList.writer}"></div>

                            <!-- 날짜 -->
                            <div class="dateTime">
                            <span>등록일:
                                <span name="regDate" th:text="${#temporals.format(boardList.regDate,'yyyy/MM/dd HH:mm:ss')}"
                                      style="margin-right: 15px;"></span>
                            </span>
                                <span>수정일:
                                <span name="modDate" th:text="${#temporals.format(boardList.modDate,'yyyy/MM/dd HH:mm:ss')}"></span>
                            </span>
                            </div>
                        </div>
                        <div class="rightSection coinBox">
                            <img class="coin" th:src="@{/assets/coins.png}">[[${boardList.ddun}]]
                        </div>
                    </div>


                    <!-- 본문 -->
                    <hr>
                    <div class="boardContent" name="content" th:utext="${boardList.content}"></div>

                </div>

                <!-- 좋아요, 수정 | 삭제 -->
                <div style="width:100%; height:30px">
                    <div class="like leftSection" >
                        <span th:if="${qnaCheck} == null" th:id="likeBtn"><img th:attr="src = @{/assets/heart_0.png}" class="heartImg"></span>
                        <span th:if="${qnaCheck} != null" th:id="likeBtn"><img th:attr="src = @{/assets/heart_1.png}" class="heartImg"></span>
                        <span id="likesCnt" class="smallText">[[${boardList.likesCnt}]]</span>
                        <span id="viewCnt" class="smallText">&nbsp조회수&nbsp[[${boardList.ViewCnt}]]</span>
                    </div>
                    <div class="rightSection smallText pointer end"
                         th:if="${checkUser} == true" >
                        <span class="modifyBtn">수정 | </span>
                        <span class="removeBtn">삭제</span>
                    </div>
                </div>

                <!-- Comments section-->

                <div class="replyCnt">댓글 [[${boardList.replyCnt}]]개 </div>
                <hr>

                <section class="replySection">

                    <!-- Comment form-->
                    <form class="mb-4" method="post" >
                        <div style="width: 100%; margin-bottom: 60px !important;">
                            <textarea class="form-control replyTA" rows="3" required name="replyText"
                                      placeholder="댓글을 작성하여 지식과 경험을 나눠보세요."></textarea>
                            <input type="button" class="btn btn-primary rightSection btn-reply" id="btn_reply" value="등록">
                        </div>
                    </form>

                    <!-- if comments none -->
                    <div th:if="${boardList.replyCnt} == 0" class="noneReply">
                        <img th:src="@{/assets/messenger.png}" >
                        <div class="smallText">
                            아직 댓글이 없습니다.<br>
                            첫 번째 댓글을 남겨보세요!  •' - '•)و ✧</div>
                    </div>

                    <!-- Comment with nested comments-->
                    <div th:each="replyList : ${replyList}">
                        <div class="replyList">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0">
                                <img class="rounded-circle" height="30px" width="30px"
                                     th:src="@{'/assets/user_img/'+${replyList.member.experience}+'.png'}"
                                     alt="..."/>
                            </div>
                            <div class="innerText">

                                <div class="ms-3" >
                                    <input type="hidden" class="reply-no" name="qnaRno" th:value="${replyList.qnaRno}">
                                    <input type="hidden" class="replier" name="member" th:value="${replyList.member.mno}">
                                    <div class="replier leftSection" >[[${replyList.member.job.job}]] [[${replyList.member.experience}]]년차 [[${replyList.member.lastName}]]개미</div>
                                    <div class="rightSection smallText pointer end"  th:if="${preMem} == ${replyList.member.mno}">
                                        <span class="reply-modify">수정 |</span>
                                        <span class="reply-delete" >삭제</span>
                                    </div>
                                    <textarea onkeyup="this.style.height = this.scrollHeight + 'px';"
                                              class="reply-text-box" name="replyText" readonly>[[${replyList.replyText}]]</textarea>
                                </div>
                                <div>
                                    <span class="date" th:text="${#temporals.format(boardList.modDate,'yyyy.MM.dd HH:mm')}"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
                <!--comment end -->

                <hr>

<!--                <div class="listGo">
                    <a class="btn btn-primary" onclick='javascript:window.history.back();'>뒤로가기</a>
                </div>-->

            </div>
        </form>

<!--   채택하기    -->
        <div class="card-body bg-white mt-0 shadow buy_container" style="display: none;">
            <div>
                <img th:src="@{/assets/close.png}" class="btn_close"/>
            </div>
            <div>
                <p class="btn">구매하기</p>
            </div>
            <div style="margin-top: 30px; text-align: center;">
                <!--내용-->
                <div class="form-group">
                    <div>
                                        <span class="buy_alert" >
                                            <span class="buy_ddun">[[${boardList.ddun}]]뚠</span>으로<br>
                                            채택하시겠습니까?
                                        </span>
                    </div>

                    <button type="button" class="buy_btn" style="margin-bottom: 30px;">구매하기</button>
                </div>
            </div>
        </div>
        <div class="dim" style="display: none;"></div>


        <script th:inline="javascript">

         $(document).ready(function() {
            var actionForm = $("form");
            var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';


            $(".removeBtn").click(function(){
                if(!confirm("삭제하시겠습니까?")){
                  return;
                }

                actionForm.attr("action", contextPath + "/member/qna/remove").attr("method","get").submit();
            });

            $(".modifyBtn").click(function(){
                if(!confirm("수정하시겠습니까?")){
                  return;
                }
               actionForm.attr("action", contextPath + "/qna/modifyForm").attr("method","get").submit();

            });

                /*[+
                var readurl = contextPath + [[@{/member/qna/read}]] +
                    "?qnaNo=" +qnaNo + "&page=" + page + "&keyword=" + keyword;
                +]*/

                location.href=readurl;
        });
        </script>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>