<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <!--페이지 수정 부분 시작-->

    <!-- 페이지 css/ js 추가 -->
    <link rel="stylesheet" th:href="@{/css/board/jayu/register.css}">

    <!-- summernote css/ js -->
    <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">
    <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">
    <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
    <script th:src="@{/js/board/summernote/custom.js}"></script>
    <!-- summernote 한글 적용 -->
    <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>

    <!-- 본문 시작 -->
    <div class="content">

      <form th:action="@{/member/qna/register}" method="post">

        <!--카테고리-->
        <div class="option">
          <select class="category" name="jno">
            <option th:each="jobList : ${jobList}" th:value="${jobList.jno}" name="jno">[[${jobList.job}]]</option>
          </select>
        </div>


        <!--제목-->
        <div class="form-group">
          <input type="text" id="title" class="form-control" name="title" required placeholder="제목을 입력해주세요">


        </div>

        <!--내용-->
        <div class="form-group">


          <textarea id="summernote" class="content" required name="content"></textarea>

        </div>

        <!--뚠-->
        <div class="form-group">


          <img th:src="@{/assets/coins.png}" width="25rem">
          <input type="text" id="ddun" class="form-control ddun" name="ddun"
                 onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                 placeholder="150" required > <label class="ddun"> 뚠</label>


        </div>

        <!--작성자-->
        <div class="form-group">


          <input type="text" class="form-control" name="writer" readonly>
        </div>

        <!--작성완료 버튼-->
        <button type="submit" class="btn btn-save btn-primary">등록</button>
      </form>

    </div>

  </th:block>
</th:block>

</html>
