<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <!--페이지 수정 부분 시작-->
    <!-- 페이지 css/ js 추가 -->
    <link rel="stylesheet" th:href="@{/css/board/jayu/register.css}">
    <script th:src="@{/js/board/qna/read.js}"></script>

    <!-- summernote css/ js -->
    <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">
    <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">
    <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
    <script th:src="@{/js/board/summernote/custom.js}"></script>
    <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>

    <!-- 본문 시작 -->
    <div class="content">

      <form th:action="@{/member/qna/register}" method="post">

        <!--카테고리-->
        <div class="option">
          <select class="category" name="jno">
            <option th:each="jobList : ${jobList}" th:value="${jobList.jno}" name="jno">[[${jobList.job}]]</option>
          </select>
        </div>


        <!--제목-->
        <div class="form-group">
          <input type="text" id="title" class="form-control" name="title" required placeholder="제목을 입력해주세요">


        </div>

        <!--내용-->
        <div class="form-group">


          <textarea id="summernote" class="content" required name="content"></textarea>

        </div>

        <!-- 뚠 거래 하기 -->
          <div class="ddun">
            <img th:src="@{/assets/coins.png}" width="25rem"><span class="betDdunTitle">&nbsp뚠 설정&nbsp</span>
            <a class="btn_helper" role="button">
              <img src="https://ssl.pstatic.net/static/kin/09renewal/ico_help.gif" width="17" height="17" alt="도움말">
            </a>

            <div class="info_helper" style="display:none;">
              <p>게시물에 답변이 달리면 <br> 게시물 삭제 및 뚠 수정은 불가능 합니다.</p>
              <a class="button_close" role="button">
                <img src="https://ssl.pstatic.net/static/kin/09renewal/btn_close_layer.gif" width="19" height="19" alt="도움창 닫기">
              </a>
            </div>

            <input type="text" id="input_ddun" class="input_ddun" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                     name="ddun" required>
            <div class="my_ddun" th:if="${totalDdun} != null">보유 뚠 : <span class="total_ddun">[[${totalDdun}]]</span></div>
            <div class="my_ddun" th:unless=" ${totalDdun} != null ">보유 뚠 : 0 <span class="total_ddun" hidden>[[${totalDdun}]]</span><a class="charge" th:href="@{/member/mypage/wallet}">충전하러가기</a></div>
          </div>


        <!--작성완료 버튼-->
        <hr>
        <button type="button" id="btn-register" class="btn btn-primary">등록</button>
      </form>

    </div>

  </th:block>
</th:block>

</html>



