/*Main Style*/
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family:MalgunGothic; src:url(font/MalgunGothic.eot);}

.content {
    width: 90%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

span {
    display: inline-block;
}

.font_e {
    font-family: 'ELAND_Choice_M';
}

a{
    color: black;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.a_white{
   color: white;
   font-weight: bold;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #8d8d8d;
    font-weight: bold;
    margin: 0 12px 0 2px;
}

.margin_top {
    padding-top: 15px;
}

.margin_bottom {
    padding-bottom: 10px;
}

.margin_bottom2 {
    margin-bottom: 20px;
}


/*Header, Nav Fixed Style*/
#fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.container-main {
    margin-top: 9rem;
}

#logo {
     font-family: 'yg-jalnan';
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     margin-right: 2rem;
     font-size: 2rem;
     color: #2b2b2b;
     white-space: nowrap;
}

.logo {
     font-family: 'yg-jalnan';
     padding-bottom: 2rem;
     font-size: 2.5rem;
     color: #2b2b2b;
     white-space: nowrap;
     text-align: center;
}

.nav_li {
    list-style: none;
    font-family: 'ELAND_Choice_M';
    font-size: 22px;
    margin-right: 20px;
}


/*After Login Style*/
.wish {
    display: flex;
    background: #fafafa;
    height: 55px;

}

.blank {
    height: 3rem;
}

span.impact {
    flex-grow: 1;
    display: inline-block;
    line-height: 62px;
    text-align: center;
    margin-left:10px;
    font-family: 'ELAND_Choice_M';
    font-size: 19px;
    color: #737373;
}

strong.impact {
    color: #402700;
}

.wish_close {
    width: 20px;
    height: 20px;
    margin-right:20px;
    margin-top: 18px;
}


/*Button*/
.button {
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem;
  font-family: 'ELAND_Choice_M';
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 10px;

  cursor:pointer;
}

.btn_login {
   background: #f9c64f;
}

.btn_regist {
    background: #5D4B1D;
}

.btn_logout {
   margin-left: 8px;
   font-family: 'ELAND_Choice_M';
   font-size: 0.9rem;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   height: 25px;
   border: none;
   border-radius: 5px;
   background: #5D4B1D;
   color: white;
}

.btn_right {
    float: right;
    margin: 1rem 0 2rem 0;
}


/* User Info Style */
#user_info {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid #F9C74F;
    border-radius: 15px;
    width:100%;
}

.user_wrap {
    padding: 20px 20px 0px 20px;
}

.user_img {
    height:70px;
    margin-bottom: 30px;
}

.user_id {
    font-size: 18px;
    line-height: 32px;
    margin-left: 10px;
}

.user_item {
    display: inline-block;
    height: 70px;
    vertical-align: center;
}

#user_button {
    display: inline-block;
    float: right;
}

#user_nav {
    width: 100%;
}

.user_ul {
    display: flex;
    margin-top: 20px;
    font-family: 'ELAND_Choice_M';
    text-align: center;
    font-size: 0.9rem;
    color: white;
}

.user_li {
    display: inline-block;
    width: 35%;
    height: 40px;
    line-height: 38px;
}

.li_center {
    border-left: 4px solid white;
    border-right: 4px solid white;
    background: #f9c74f;
}

.li_left {
    border-radius: 0 0 0 10px;
    background: #f9c74f;
}

.li_right {
    border-radius: 0 0 10px 0;
    background: #f9c74f;
}

.my_info {
    font-size: 0.9rem;
}

/*User Alert Style*/
.alert_new {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: white;
    background: #c21515;
    border-radius: 15px;
}


#user_alert {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid #F9C74F;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    width:100%;
}

#user_msg {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid #F9C74F;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    width:100%;
}

#user_secret {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid #F9C74F;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    width:100%;
}

.alert_tb {
    width: 100%;
    margin: 0px 15px 15px 15px;
}

.alert {
    font-size: 14px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
}


#home {
    width: 100%;
    text-align: center;
    font-family: 'ELAND_Choice_M';
    font-size: 15px;
    color: #737373;
}

#money {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

#earn_title {
    font-family: 'ELAND_Choice_M';
    font-size: 18px;
    color: #737373;
    margin: 10px 0 5px 0;
}

#daily_earn {
    font-family: 'ELAND_Choice_M';
    font-size: 2rem;
    margin-bottom: 10px;
}

#user_goal {
    width: 100%;
    padding: 20px;
    border: 3px solid #ededed;
    border-radius: 15px;
    margin-top: 20px;
}

#no_goal {
    width: 100%;
    padding: 20px;
    border: 3px solid #ededed;
    border-radius: 15px;
    margin-top: 20px;
    background: #f5f5f5;
    text-align: center;
    font-family: 'ELAND_Choice_M';
    color: #5e5e5e;
}

#wish_table {
    width: 100%;
}

.wish_product {
    width: 60%;
    color: #737373;
    font-weight: 400;
}

.wish_day {
    text-align: right;
    color: #402700;
    font-weight: bold;
}


/*Board Style*/
.boardlist {
    font-family: 'ELAND_Choice_M';
    display: inline-block;
    padding-top: 10px;
}



/*Table-Card Style*/
.title{
    text-align: left;
}

.category {
    width: 85px;
}

.data {
    font-size:13px;
    width: 55px;
    text-align: center;
    line-height: 1.9;
}

.more{
    float: right;
    padding-top: 12px;
}

.text-ellipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.text-ellipsis>* {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Table Category Tag Style*/
.peong {
    width: 22px;
    line-height:1.8;
}

.tag_b {
    font-size: 13px;
    padding-top: 4px;
    border-radius: 5px;
    height: 28px;
    width: 73px;
    color: #919191;
    border: 2px solid #e0e0e0;
    text-align: center;
}



/* Search-box Style */
#search-wrap {
    display: flex;
    flex-direction: row-reverse;
}

#search-bar {
    width: 200px;
    height: 40px;
    border: 3px solid #ffc107;
    border-radius: 20px 0 0 20px;
    padding: 0 20px;
}

input:focus {
    outline: none;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #ffc107;
  background: #ffc107;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}