@font-face{
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}
@font-face{
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* form 스타일 */
.form-group{
    margin: 5px 0 20px 0;
    font-family: 'ELAND_Choice_M';
}
.form-control{
     font-family: 'ELAND_Choice_M';
     font-size: 16px;
}

input#ddun {
    display: inline-block;
    width: 80px;
    height:35px;
}

input:focus {
    outline:none;
}

/* 옵션 좌우 간격 */
.option{
    display:inline-block;
    width: 10rem;
    margin: 5px 0;
}

/* 카테고리 */
.category {
    marin: 10px 20rem;
    height: 28px;
    width: 120px;
    color: #919191;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
 	font-size: 16px;
 	font-weight: bold;
 	text-align:center;
 	cursor: pointer;
}
option{
    font-family: 'ELAND_Choice_M';
    font-size: 16px;
}

/* 펑예 스위치 */
.peong{
    width: 60px;
    font-size: 16px;
    font-family: 'ELAND_Choice_M';
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    margin-left: -5px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:20px;
    background-color: #ccc;
    box-shadow: inset 1px 5px 1px #999;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius:20px;
}
.switch input:checked + .slider {
    background-color: #f9c64f;
    box-shadow: inset 1px 5px 1px #E3AE56;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Tool Tip */
.alert_tip {
    display: inline-block;
    color: rgb(220,220,220);
    font-size: 1.3rem;
    z-index: 1080;
    line-height: 2.2;
}

.tooltiptext {
     visibility: hidden;
     width: 200px;
     background-color: rgb(220,220,220);
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     font-weight: bold;
     font-size: 0.8rem;
     position: absolute;
     z-index: 1;
     left: 15
     0%;
}

.alert_tip .tooltiptext::after {
     visibility: hidden;
     content: "";
     position: absolute;
     top: 50%;
     right: 100%;
     margin-top: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent rgb(220,220,220) transparent transparent;
}

.alert_tip:hover .tooltiptext { visibility: visible; }
.alert_tip:hover .tooltiptext::after { visibility: visible; }

/* 등록 버튼 */
.btn-primary{
    float :right;
    font-family: 'ELAND_Choice_M';
}




/* 글 리스트 */
.list_title {
    font-size: 1.4rem;
    font-family: 'ELAND_Choice_M';
}

.cate {
    color: #919191;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.cate_line {
    border: 2px solid #e0e0e0;
}

.list_content {
    color: black;
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 글 상세보기 */
.title {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 10px;
}

.peopng_simple {
    font-size: 13px;
}

.writer {
    display: inline-block;
    width: 75%;
    margin-top: 20px;
}

.dateTime {
    display: inline-block;
    font-size: 12px;
    color: #858585;
}

.content_height {
    min-height: 5rem;
    margin: 3rem 0;
}