<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->
        <!-- 페이지 css/ js 추가 -->
        <link rel="stylesheet" th:href="@{/css/board/jayu/register.css}">

        <!-- summernote css/ js -->
        <link rel="stylesheet" th:href="@{/css/board/summernote/summernote-lite.css}">
        <link rel="stylesheet" th:href="@{/css/board/summernote/custom.css}">
        <script th:src="@{/js/board/summernote/summernote-lite.js}"></script>
        <script th:src="@{/js/board/summernote/custom.js}"></script>

        <!-- summernote 한글 적용 -->
        <script th:src=" @{https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js}"></script>

        <!-- 본문 시작 -->
        <div class="content">

            <form th:action="@{/member/sosojob/register}" method="post">

                <!--카테고리-->
                <div class="option">
                    <select class="category" name="cateNo" >
                        <option th:each="category : ${category}" th:value="${category.cateNo}" name="cateNo">[[${category.sosoCateName}]]</option>
                    </select>
                </div>

                <!--제목-->
                <div class="form-group">
                    <input type="text" id="title" class="form-control" name="title" required placeholder="제목을 입력해주세요">
                </div>

                <!--내용-->
                <div class="summernote">
                    <textarea id="summernote" class="content"  name="content" ></textarea>
                </div>

                <!--뚠-->
                <div class="form-group">

                    <img th:src="@{/assets/coins.png}" width="25rem">
                    <input type="text" id="ddun" class="form-control ddun" name="ddun"
                           onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                           placeholder="150" required> <label class="ddun"> 뚠</label>

                </div>

                <!--작성완료 버튼-->
                <button type="submit" class="btn btn-save btn-primary">등록</button>
            </form>
        </div>
        <script>
            $(document).ready(function() {
                $(".btn-save").click(function() {
                    alert($(".category").val());
                });

<!--                const title = $("#title");-->
<!--                const content = $(".content");-->
<!--                const ddun = $("#ddun");-->

<!--                const categoryArr = ["IT","디자인·설계","미디어","번역","문서작업","마케팅","취업·이직","실무교육"];-->

<!--                for(var i = 0; i < categoryArr.length; i++){-->
<!--                    $(".category").append("<option value="+categoryArr[i]+">" + categoryArr[i] + "</option>");-->
<!--                }-->
            });


        </script>
        <!-- 본문 끝 -->
        <!--페이지 수정 부분 끝-->
    </th:block>
</th:block>


</html>

