<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/sosojob/sosoMain.css}" rel="stylesheet">
        <script th:inline="javascript" th:src="@{/js/board/sosojob/sosojob.js}"></script>
        <script th:src="@{/js/board/summernote/custom1.js}"></script>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Side widgets-->
                <div class="col-lg-3" style="padding: 0 20px;">
                    <!-- Search widget-->
                    <div class="card mb-4" style="min-height: 370px;">
                        <div class="card-header seller_title" style="text-align: center;">판매자 정보</div>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="user_box">
                                    <img th:src="@{'/assets/user_img/'+${read.experience}+'.png'}" class="user_img_s"/>
                                    <!--판매자 정보-->
                                    <div id="writer-name"><span class="seller_info">[[${read.job}]] [[${read.experience}]]년차 [[${read.lastName}]]개미</span></div>

                                    <div style="margin-bottom: 50px;">
                                        <button class="btn btn-primary" id="button-send" type="button">문의하기</button>
                                        <button class="btn btn-primary" id="button-buy" type="button" >구매하기</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body bg-white mt-0 shadow send_container" style="display: none;">
                        <div>
                            <img th:src="@{/assets/close.png}" class="btn_close"/>
                        </div>
                        <div>
                            <p class="soso_title">문의하기</p>
                        </div>
                        <div style="margin-top: 30px; text-align:register center;">
                            <form th:action="@{'/member/messenger/sendMessage/' + ${read.mno}}" th:method="post">
                                <!--내용-->
                                <div class="form-group">
                                    <input type="text" id="title_msg" name="msgTitle"  placeholder="제목을 입력하세요"/>
                                    <textarea id="summernote" name="msgContent" class="msg_context"></textarea>
                                </div>
                                <div style="text-align: right; width: 90%; margin-top: 5px;">
                                    <button type="button" class="submit_btn" style="margin-bottom: 30px;">전송</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body bg-white mt-0 shadow buy_container" style="display: none;">
                        <div>
                            <img th:src="@{/assets/close.png}" class="btn_close"/>
                        </div>
                        <div>
                            <p class="soso_title">구매하기</p>
                        </div>
                        <div style="margin-top: 30px; text-align: center;">
                            <!--내용-->
                            <div class="form-group">
                                <div>
                                        <span class="buy_alert" th:each="read : ${read}">
                                            [[${read.lastName}]]개미님의 재능을<br>
                                            <span class="buy_ddun">[[${read.ddun}]]뚠</span>에<br>
                                            구매하시겠습니까?
                                        </span>
                                </div>

                                <button type="button" class="buy_btn" style="margin-bottom: 30px;">구매하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="dim" style="display: none;"></div>

                </div>
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article style="padding: 0 20px;">
                        <!-- Post header-->
                        <header class="mb-4" style="width: 97%;">
                            <!-- Post categories-->

                            <a class="cate" href="#!" >[[${read.categoryName}]]</a>
                            <!-- Post title-->
                            <input id="soso_no" type="hidden" th:value="${read.sosoNo}">
                            <input type="hidden" id="writer_no" th:value="${read.mno}">
                            <input type="hidden" id="total_ddun" th:value="${buyerTotalDdun}">
                            <div style="width: 100%; margin-top: 15px;">
                                <div class="title_wrap">
                                    <h1 class="fw-bolder mb-1 sell_title" name="title">[[${read.title}]]</h1>
                                </div>

                                <!-- 날짜 -->
                                <div class="leftSection">
                                <div class="dateTime">
                                    <span>등록일:
                                        <span th:text="${#temporals.format(read.regDate,'yyyy/MM/dd HH:mm:ss')}"
                                              style="margin-right: 15px;"></span>
                                    </span>
                                    <span>수정일:
                                        <span th:text="${#temporals.format(read.modDate,'yyyy/MM/dd HH:mm:ss')}"></span>
                                    </span>
                                        </div>
                                </div>

                                <div class="rightSection coinBox">
                                    <img class="coin" th:src="@{/assets/coins.png}">[[${read.ddun}]]
                                </div>
                            </div>
                        </header>
                        <hr>
                        <!-- Preview image figure-->
                        <div>
                            <figure class="mb-4"><img class="img-fluid rounded"
                                                      src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."/>
                            </figure>
                            <!-- Post content-->
                            <section class="mb-5">
                                <!-- Comment form-->
                                <div class="content" th:utext="${read.content}"></div>
                            </section >
                        </div>
                        <button id="board-delete" th:if="${writer} == ${read.mno}" ><a th:href="@{'/member/sosojob/delete/'+ ${read.sosoNo}}">삭제</a></button>
                        <button th:if="${writer} == ${read.mno}"><a th:href="@{'/member/sosojob/modify/sosoNo='+ ${read.sosoNo}}">수정</a></button>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light" style="width: 92%; margin: 0 auto;">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" method="post">
                                    <textarea class="form-control reply" rows="3" name="replyText"
                                              placeholder="댓글을 작성하여 지식과 경험을 나눠보세요."></textarea>
                                </form>
                                <div>
                                    <input type="button" class="btn btn-primary btn-reply" id="btn_reply" value="작성하기">
                                </div>
                                <!-- Comment with nested comments-->
                                <div th:each="replyList : ${replyList}">
                                    <div class="d-flex mb-4" >
                                        <!-- Parent comment-->
                                        <div class="flex-shrink-0">
                                            <img class="rounded-circle" height="30px" width="30px"
                                                 th:src="@{'/assets/user_img/'+${replyList.member.experience}+'.png'}"
                                                 alt="..."/>
                                        </div>
                                        <div class="innerTest">
                                            <div class="ms-3" >
                                                <input type="hidden" class="reply-no" name="sosoReplyNo" th:value="${replyList.sosoReplyNo}">
                                                <input type="hidden" class="replier" name="member" th:value="${replyList.member.mno}">
                                                <div class="fw-bold" >[[${replyList.member.job.job}]] [[${replyList.member.experience}]]년차 [[${replyList.member.lastName}]]개미</div>
                                                <input class="reply-text-box" name="replyText" th:value="${replyList.replyText}" readonly>
                                                <button class="reply-modify" th:if="${writer} == ${replyList.member.mno}" >수정</button>
                                                <button class="reply-delete" th:if="${writer} == ${replyList.member.mno}" >삭제</button>

                                                <!-- Child comment 1-->
                                                <!--                                        <div class="d-flex mt-4">-->
                                                <!--                                            <div class="flex-shrink-0"><img class="rounded-circle"-->
                                                <!--                                                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"-->
                                                <!--                                                                            alt="..."/></div>-->
                                                <!--                                            <div class="ms-3">-->
                                                <!--                                                <div class="fw-bold">Commenter Name</div>-->
                                                <!--                                                And under those conditions, you cannot establish a capital-market-->
                                                <!--                                                evaluation of that enterprise. You can't get investors.-->
                                                <!--                                            </div>-->
                                                <!--                                        </div>-->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Single comment-->

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </th:block>
</th:block>