<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<style>
.cate-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.cate-li {
  float: left;
}

.cate-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.cate-li a:hover {
  background-color: #111;
}
</style>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/sosojob/sosoMain.css}" rel="stylesheet">
        <ul class="cate-ul" th:each="categoryName : ${cateName}">
            <li class="cate-li" th:value="${categoryName.cateNo}"><a th:href="@{'/member/sosojob/list/' + ${categoryName.cateNo}}">[[${categoryName.sosoCateName}]]</a></li>
        </ul>
        <div th:each="category : ${cate}">
            <a th:href="@{/member/sosojob/register}">글쓰기</a>
            <h1 th:text="${category.key}"></h1>
            <div class="slick-card" th:each="cateValue : ${category.value}">
                <article>
                    <img class="cate-thumbnail" th:src="@{https://dummyimage.com/230x160/000/fff}"/>
                    <div clss="content-container">
                        <div><span class="tag_c" th:text="${cateValue.category.sosoCateName}"></span></div>
                        <div class="title" th:text="${cateValue.title}"><span></span></div>
                        <div class="ddun-box">
                        <span><img class="img coin" th:src="@{/assets/coins.png}" width="12">
                        <span class="price" th:text="${cateValue.ddun}"></span><span>뚠</span></span>
                        </div>

                        <div class="star-box">
                            <span><img style="img heart" th:src="@{/assets/heart.png}" width="12">5.0작성자</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var cateNo = $(".cate-li").val();
                var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

                $(".cate-li").on("click", function() {
                    var arr = new Array();
                    arr.push($(this).attr('value'));
                    alert(arr);

                });


            });

        </script>

    </th:block>
</th:block>
