<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<style>
.cate-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.cate-li {
  float: left;
}

.cate-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.cate-li a:hover {
  background-color: #111;
}
</style>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/sosojob/sosoMain.css}" rel="stylesheet">
        <link th:href="@{/css/board/qna/qnaStyles.css}" rel="stylesheet" />
        <script th:inline="javascript" th:src="@{/js/board/sosojob/sosoMain.js}"></script>
        <!-- 본문 시작 -->
        <a th:href="@{/member/sosojob/register}">
            <button class="btn-primary btn" style="float: right; margin-top: -60px; font-family: 'ELAND_Choice_M';">
                글쓰기
            </button>
        </a>

        <div class="subNav-body">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a th:each="cateList : ${cateList}" class="subNav" th:onclick="|javascript:getCateList(${cateList.cateNo},'1')|">[[${cateList.sosoCateName}]]
                </a>
            </nav>
        </div>

        <div >
            <div class="slick-card" style="width: 300px; height: 380px; display: inline-block;" th:each="cateValue : ${mvData.dtoList}">
                <article>
                    <img class="cate-thumbnail" th:src="@{https://dummyimage.com/230x160/000/fff}"/>
                    <div clss="content-container">
                        <div style="display: table;">
                            <span class="tag_c" th:text="${cateValue.categoryName}"></span>
                        </div>
                        <div class="title">
                            <a th:href="@{/member/sosojob/list/read(sosoNo = ${cateValue.sosoNo} )}">[[${cateValue.title}]]</a>
                        </div>
                        <div class="context">
                            <span>[[${cateValue.content}]]</span>
                        </div>
                        <div class="ddun-box">
                            <span><img class="img coin" th:src="@{/assets/coins.png}" width="12">
                            <span class="price" th:text="${cateValue.ddun}"></span><span>뚠</span></span>
                        </div>
                        <div class="star-box">
                            <span>
                                <span>[[${cateValue.job}]] [[${cateValue.experience}]]년차 [[${cateValue.firstName}]]개미</span>
                                </span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <!--    페이지 번호     -->
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${mvData.prev}">
<!--                    <a class="page-link" th:href="@{/member/list(page=${boardList.start - 1},-->
<!--                type=${pageRequestDTO.type},-->
<!--                keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">이전</a>                    -->
                    <a class="page-link" th:href="@{'/sosojob/list/sosoCategory='+${cateNum}(page=${mvData.start - 1}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item '+ ${mvData.page == page?'active':''} "
                    th:each="page: ${mvData.pageList}">
<!--                    <a class="page-link" th:href="@{/qna/list(page = ${page}, type=${pageRequestDTO.type},-->
<!--                keyword = ${pageRequestDTO.keyword})}">-->
                    <a th:each="cateNo : ${cateNum}" th:value="${page}" class="page-link" th:href="@{'/sosojob/sosoList/sosoCategory='+${cateNo}(page=${page})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${mvData.next}">
                    <a class="page-link" th:href="@{'/sosojob/sosoList/sosoCategory='+${cateNum}(page= ${mvData.end + 1}">다음</a>
                </li>
            </ul>
        </nav>
        <script>
            $(document).ready(function() {
                var cateNo = $(".cate-li").val();
                var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

                $(".cate-li").on("click", function() {
                    var arr = new Array();
                    arr.push($(this).attr('value'));
                    alert(arr);

                });
            });

        </script>

    </th:block>
</th:block>
